/* ********* General / Common CSS Styles Start Here ******************** */
* {
    margin: 0;
    padding: 0;
}

.bg-primary {
    background: rgba(229, 84, 115, 0.10);
}

.w-100vw {
    width: 100vw;
}

.w-90vw {
    width: 90vw;
}

.h-100vh {
    height: 100vh;
}

.h-90vh {
    height: 90vh;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    padding: 8px 10px;
    text-decoration: none;
}

.section-title {
    margin-bottom: 15px;
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 800;
}

/*
*Common styles End Here 
* Header Section Styles Start Here 
*/
.header-section {
    padding: 70px 0px 0px;
    max-height: 100vh;
}

.header-container {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {}

.header-content .header-title {
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 35px;
}

.header-content .header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 25px;
}

.btn-shop-now {
    color: #FFF;
    font-size: 18px;
    border: 1px solid #fdfdfd;
    transition: all .35s ease-out;
}

.btn-shop-now:hover {
    color: #E55473;
    border: 1px solid #E55473;
    background-color: transparent;
}

.header-img {
    max-width: 480px;
    height: auto;
}

/* 
* Header Section Styles End Here 
* Our Featured Flower Section Styles Start From Here
*/
.feature-flower-section {
    width: 85vw;
    margin: 0 auto;
}

.feature-flower-header {
    width: 500px;
    padding: 70px 0px;
    text-align: center;
    margin: 0 auto;
}

.feater-flower-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.feature-flower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.flower-container {
    display: flex;
    flex-direction: column;
}

.flower {
    width: 300px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 30px;
    position: relative;
}

.flower img {
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

.flower-container>a {
    color: #272727;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
    transition: color .35s ease;
}
.flower-container>a:hover{
color: blue;
}
/* 
Our Featured Flower Section Styles  End Here 
Our Service Section Styles Start here
 */
.our-service-section {
    width: 85vw;
    margin: 0 auto;
}

.our-service-container {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 70px 0;
    padding: 50px 0px;
    justify-content: space-evenly;
}

.service {
    text-align: center;
}

.service>p {
    color: rgba(39, 39, 39, 0.80);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}